* {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    margin: auto;
    /* background: antiquewhite; */
}

.main-logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: beige;
}

.main-menu ul {
    list-style: none;
}

.main-menu ul li {
    float: left;
}

.main-menu ul li a {
    text-decoration: none;
    padding: 5px 20px;
    display: block;
    background: gray;
    color: wheat;
}

.main-menu ul li a:hover {
    background: red;
    color: white;
}

.main-menu {
    margin: auto;
}

.header {
    width: 1200px;
    margin: auto;
}

.footer {
    background: black;
    text-align: center;
    color: white;
}

.footer h2 a {
    color: yellow;
    font-family: sans-serif;
    text-decoration: none;
}

.main-body {
    width: 1200px;
    /* margin: auto; */
    margin: 100px auto;
    /* background: red; */
    /* color: wheat; */
    padding: 20px;
    text-align: justify;
}